@media (max-width: 1399px) {
  body {
    display: block;
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    margin: 0;
  }
  .col-left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../src/images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vw;
    margin-bottom: 25vw;
  }
  .card {
    color: #fff;
    position: absolute;
    top: 5vw;
    height: 60vw;
    width: 90%;
  }
  .frontCard {
    position: absolute;
    background-image: url("../../src/images/bg-card-front.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 70vw;
    height: 38.4vw;
    bottom: 0;
    z-index: 1;
  }
  .cardlogo {
    position: absolute;
    top: 4vw;
    left: 20px;
    width: 14vw;
    height: 7.6vw;
  }
  .cardNumber {
    position: absolute;
    font-size: 5vw;
    bottom: 30px;
    left: 20px;
  }
  .name {
    text-transform: uppercase;
    padding-left: 20px;
    left: 0;
    padding-bottom: 0;
    position: absolute;
    bottom: 0;
  }
  .date {
    position: absolute;
    padding-right: 20px;
    right: 0;
    bottom: 0;
  }
  .backCard {
    position: absolute;
    background-image: url("../../src/images/bg-card-back.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 70vw;
    height: 38.4vw;
    right: 0;
    top: 0px;
  }
  .keyCard {
    right: 10vw;
    position: relative;
  }
  .col-right {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
  }
  .form-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 300px;
    color: hsl(278deg, 68%, 11%);
  }
}
@media (min-width: 1400px) {
  body {
    display: flex;
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    margin: 0;
  }
  .col-left {
    display: flex;
    align-items: center;
    background-image: url("../../src/images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 483px;
    height: 100vh;
  }
  .card {
    color: #fff;
    position: absolute;
    margin-left: 130px;
    align-content: center;
    height: 520px;
    width: 550px;
  }
  .frontCard {
    position: absolute;
    display: flex;
    justify-content: left;
    background-image: url("../../src/images/bg-card-front.png");
    width: 447px;
    height: 245px;
    left: 0;
  }
  .cardlogo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 55px;
  }
  .cardNumber {
    position: absolute;
    font-size: 35px;
    bottom: 30px;
    left: 20px;
  }
  .name {
    text-transform: uppercase;
    padding-left: 20px;
    left: 0;
    padding-bottom: 0;
    position: absolute;
    bottom: 0;
  }
  .date {
    position: absolute;
    padding-right: 20px;
    right: 0;
    bottom: 0;
  }
  .backCard {
    position: absolute;
    background-image: url("../../src/images/bg-card-back.png");
    display: flex;
    align-items: center;
    justify-content: right;
    width: 447px;
    height: 245px;
    right: 0px;
    bottom: 0;
  }
  .keyCard {
    right: 60px;
    position: relative;
  }
  .col-right {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 75%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
  }
  .form-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 150px;
    width: 40%;
    height: 300px;
    color: hsl(278deg, 68%, 11%);
  }
}
.thanks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(278deg, 68%, 11%);
}

.thanks p {
  color: grey;
}

.accept {
  background-image: url(../../src/images/icon-complete.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
}

.continue {
  background-color: hsl(278deg, 68%, 11%);
  color: white;
  border-radius: 9px;
  font-size: 15px;
  font-weight: bold;
  padding: 13px;
  width: 100%;
}

.form-main {
  margin-bottom: 50px;
}

form {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid hsl(279deg, 6%, 55%);
}

.inputname {
  margin-top: 20px;
  margin-bottom: 0px;
}

.input-alert {
  color: red;
  margin-top: 0;
  margin-bottom: 0;
}

.cardData {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.expDate {
  display: block;
  width: 45%;
}

.dateofexp {
  display: flex;
  justify-content: space-between;
}

.dateofexp input {
  width: 49%;
}

.cvc {
  width: 50%;
}

button {
  background-color: hsl(278deg, 68%, 11%);
  color: white;
  border-radius: 9px;
  font-size: 15px;
  font-weight: bold;
  padding: 13px;
  margin-top: 20px;
}

.plecy {
  position: absolute;
  width: 80%;
}

/* 
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
} */
.success {
  border: 3px solid green;
}

.error {
  border: 3px solid red;
}/*# sourceMappingURL=style.css.map */