

@media (max-width: 1399px) {
  body {
    display: block;
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    margin: 0;
  
  }

  .col-left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../src/images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vw;
    margin-bottom: 25vw;
  }

  .card {
    color: #fff;
    position: absolute;
    top: 5vw;
    height: 60vw;
    width: 90%;
    // border: 1px solid red;
  }

  .frontCard {
    position: absolute;
    background-image: url("../../src/images/bg-card-front.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 70vw;
    height: 38.4vw;
    bottom: 0;
    z-index: 1;
  }

  .cardlogo {
    position: absolute;
    top: 4vw;
    left: 20px;
    width: 14vw;
    height: 7.6vw;
  }

  .cardNumber {
    position: absolute;
    font-size: 5vw;
    bottom: 30px;
    left: 20px;
  }

  .name {
    text-transform: uppercase;
    padding-left: 20px;
    left: 0;
    padding-bottom: 0;
    position: absolute;
    bottom: 0;
  }

  .date {
    position: absolute;
    padding-right: 20px;
    right: 0;
    bottom: 0;
  }

  .backCard {
    position: absolute;
    background-image: url("../../src/images/bg-card-back.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 70vw;
    height: 38.4vw;
    right: 0;
    top: 0px;
  }

  .keyCard {
    right: 10vw;
    position: relative;
  }

  .col-right {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
  }

  .form-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 300px;
    color: hsl(278, 68%, 11%);
  }
}

@media (min-width: 1400px) {
  body {
    display: flex;
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    margin: 0;
  }

  .col-left {
    display: flex;
    align-items: center;
    background-image: url("../../src/images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 483px;
    height: 100vh;
  }

  .card {
    color: #fff;
    position: absolute;
    margin-left: 130px;
    align-content: center;
    height: 520px;
    width: 550px;
  }

  .frontCard {
    position: absolute;
    display: flex;
    justify-content: left;
    background-image: url("../../src/images/bg-card-front.png");
    width: 447px;
    height: 245px;
    left: 0;
  }

  .cardlogo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 55px;
  }

  .cardNumber {
    position: absolute;
    font-size: 35px;
    bottom: 30px;
    left: 20px;
  }

  .name {
    text-transform: uppercase;
    padding-left: 20px;
    left: 0;
    padding-bottom: 0;
    position: absolute;
    bottom: 0;
  }

  .date {
    position: absolute;
    padding-right: 20px;
    right: 0;
    bottom: 0;
  }

  .backCard {
    position: absolute;
    background-image: url("../../src/images/bg-card-back.png");
    display: flex;
    align-items: center;
    justify-content: right;
    width: 447px;
    height: 245px;
    right: 0px;
    bottom: 0;
  }

  .keyCard {
    right: 60px;
    position: relative;
  }

  .col-right {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 75%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
  }

  .form-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 150px;
    width: 40%;
    height: 300px;
    color: hsl(278, 68%, 11%);
  }
}
